In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns
import requests
import json

In [2]:
predicted_race_df = pd.read_csv("predicted_race.csv")

In [3]:
predicted_race_df.head()

,nconst,primaryName,first_name,last_name,__name,HL+A,HL+B,HL+I,HL+M,HL+O,HL+W,NL+A,NL+B,NL+I,NL+M,NL+O,NL+W,race
0,nm0000002,Lauren Bacall,Lauren,Bacall,Bacall Lauren,5.295278e-12,5.241979e-08,1.147158e-09,2.287984e-06,0.018420,1.213805e-01,0.003325,0.147800,0.008303,0.003940,0.041653,0.655177,NL+W
1,nm0000008,Marlon Brando,Marlon,Brando,Brando Marlon,1.677530e-10,8.128731e-11,6.717758e-10,3.554835e-04,0.303513,4.879867e-01,0.004365,0.013393,0.005760,0.000009,0.138214,0.046404,HL+W
2,nm0000084,Gong Li,Gong,Li,Li Gong,4.088150e-10,5.892193e-10,7.462152e-10,3.830045e-10,0.000615,7.282334e-07,0.740721,0.001142,0.000156,0.000024,0.256411,0.000930,NL+A
3,nm0000090,Armin Mueller-Stahl,Armin,Mueller-Stahl,Mueller-Stahl Armin,1.279231e-08,4.576425e-10,4.602164e-12,2.438293e-02,0.225645,5.128316e-02,0.166164,0.069155,0.031796,0.000580,0.155234,0.275759,NL+W
4,nm0000092,John Cleese,John,Cleese,Cleese John,1.001518e-06,8.389105e-08,3.857603e-12,5.813751e-02,0.002677,5.439312e-03,0.005067,0.098863,0.740875,0.009808,0.020834,0.058298,NL+I

In [4]:
len(predicted_race_df)

5272

In [5]:
mcgill_actors_df = pd.read_csv("mcgill_actors.csv")
mcgill_actors_df["nconst"] = mcgill_actors_df.IMDB_ACTOR_HOMEPAGE.apply(lambda x: x.split("/")[-2])
mcgill_actors_df

,X,X.1,CHARACTER_ID,SCRIPT_ID,CHARACTER_NAME,ACTOR_NAME,PARTIAL_MATCH,GENDER,MISGENDER,CHARACTER_RACE,...,AGE,EXTRACTED_WORDS,POLYGRAPH_.WORDS,IMDB_ACTOR_HOMEPAGE,GOOGLE_IMAGE_SEARCH,NEW_ACTOR_RACE,First_name,Middle_name,Last_name,nconst
0,1,14,960,863,ronnie,Aaron Yoo,n,m,NaN,a,...,28.0,613,926,http://www.imdb.com/name/nm1683094/?ref_=ttfc_...,https://www.google.com/search?q=Aaron+Yoo+acto...,a,Aaron,,Yoo,nm1683094
1,2,81,15713,5298,dulcie kawamura,Akemi Nishino,n,f,x,a,...,NaN,292,365,http://www.imdb.com/name/nm0632781/?ref_=ttfc_...,https://www.google.com/search?q=Akemi+Nishino+...,a,Akemi,,Nishino,nm0632781
2,3,82,2929,1343,fujiko imada,Ako,n,f,NaN,a,...,NaN,192,198,http://www.imdb.com/name/nm0015488/?ref_=ttfc_...,https://www.google.com/search?q=Ako+actress&so...,a,,,Ako,nm0015488
3,4,867,5732,2087,eric draven,Brandon Lee,n,m,NaN,w,...,32.0,854,2530,http://www.imdb.com/name/nm0000488/?ref_=ttfc_...,https://www.google.com/search?q=Brandon+Lee+ac...,a,Brandon,,Lee,nm0000488
4,5,2032,13887,4589,jim trudell,Don Wilson,y,m,NaN,a,...,41.0,548,909,http://www.imdb.com/name/nm0933310/?ref_=ttfc_...,https://www.google.com/search?q=Don+Wilson+act...,a,Don,,Wilson,nm0933310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4053,4510,8273,3594,1509,yuri karpov,Zlatko Buric,n,m,NaN,w,...,56.0,192,628,http://www.imdb.com/name/nm0121519/?ref_=ttfc_...,https://www.google.com/search?q=Zlatko+Buric+a...,w,Zlatko,,Buric,nm0121519
4054,4512,8283,9139,2964,nessa watkins,Zooey Deschanel,n,f,NaN,w,...,19.0,550,1860,http://www.imdb.com/name/nm0221046/?ref_=ttfc_...,https://www.google.com/search?q=Zooey+Deschane...,w,Zooey,,Deschanel,nm0221046
4055,4513,8282,7037,2426,cheryl,Zooey Deschanel,n,f,NaN,w,...,22.0,383,1256,http://www.imdb.com/name/nm0221046/?ref_=ttfc_...,https://www.google.com/search?q=Zooey+Deschane...,w,Zooey,,Deschanel,nm0221046
4056,4514,8281,7442,2547,trillian,Zooey Deschanel,n,f,NaN,w,...,25.0,384,1254,http://www.imdb.com/name/nm0221046/?ref_=ttfc_...,https://www.google.com/search?q=Zooey+Deschane...,w,Zooey,,Deschanel,nm0221046
4057,4515,8280,3886,1606,anita miller,Zooey Deschanel,n,f,NaN,w,...,20.0,229,938,http://www.imdb.com/name/nm0221046/?ref_=ttfc_...,https://www.google.com/search?q=Zooey+Deschane...,w,Zooey,,Deschanel,nm0221046

In [6]:
len(predicted_race_df[predicted_race_df.nconst.isin(mcgill_actors_df.nconst)].nconst.unique())

1267

In [7]:
merged_with_mcgill = pd.merge(predicted_race_df, mcgill_actors_df, left_on='nconst', right_on='nconst', how='left')
merged_with_mcgill = merged_with_mcgill.drop_duplicates(subset=['nconst'], keep='last')

In [8]:
clean_merged_with_mcgill = merged_with_mcgill[["first_name","last_name","NEW_ACTOR_RACE", "race","nconst" ]]

In [9]:
clean_merged_with_mcgill_NA = clean_merged_with_mcgill.copy()
clean_merged_with_mcgill_NA["NEW_ACTOR_RACE"] = clean_merged_with_mcgill["NEW_ACTOR_RACE"].fillna(clean_merged_with_mcgill['race'].apply(lambda x:  x[-1]  if x[-1] in ["W","B", "A","P", "I"] else x ))#x[0:2]  ))

In [10]:
clean_merged_with_mcgill_NA.reset_index(drop=True)

     first_name      last_name NEW_ACTOR_RACE  race     nconst
0        Lauren         Bacall              w  NL+W  nm0000002
1        Marlon         Brando              w  HL+W  nm0000008
2          Gong             Li              A  NL+A  nm0000084
3         Armin  Mueller-Stahl              w  NL+W  nm0000090
4          John         Cleese              I  NL+I  nm0000092
...         ...            ...            ...   ...        ...
5267       Eric         Borsuk              A  NL+A  nm9858133
5268    Vilhelm       Blomgren              W  NL+W  nm9859585
5269      Roman          Davis              B  NL+B  nm9877392
5270    Gabriel            Sky           NL+O  NL+O  nm9982380
5271   Khadijha        Thunder              A  NL+A  nm9982544

[5272 rows x 5 columns]

In [11]:
clean_merged_with_mcgill_NA["NEW_ACTOR_RACE"] = clean_merged_with_mcgill_NA["NEW_ACTOR_RACE"].replace(['s', 'n', 'I', 'i', 'W', 'B','A'], ['a',"NL+O", 'i', 'a','w','b','a'])

In [12]:
clean_merged_with_mcgill_NA.NEW_ACTOR_RACE.value_counts()

w       2592
b        727
NL+O     518
a        490
NL+M     318
i        263
HL+O     237
HL+M      98
l         29
Name: NEW_ACTOR_RACE, dtype: int64

In [13]:
clean_merged_with_mcgill_NA

     first_name      last_name NEW_ACTOR_RACE  race     nconst
0        Lauren         Bacall              w  NL+W  nm0000002
2        Marlon         Brando              w  HL+W  nm0000008
3          Gong             Li              a  NL+A  nm0000084
5         Armin  Mueller-Stahl              w  NL+W  nm0000090
6          John         Cleese              i  NL+I  nm0000092
...         ...            ...            ...   ...        ...
6594       Eric         Borsuk              a  NL+A  nm9858133
6595    Vilhelm       Blomgren              w  NL+W  nm9859585
6596      Roman          Davis              b  NL+B  nm9877392
6597    Gabriel            Sky           NL+O  NL+O  nm9982380
6598   Khadijha        Thunder              a  NL+A  nm9982544

[5272 rows x 5 columns]

In [14]:
clean_merged_with_mcgill_NA.shape

(5272, 5)

In [15]:
len(clean_merged_with_mcgill_NA.nconst.unique())

5272

In [16]:
clean_merged_with_mcgill_NA =clean_merged_with_mcgill_NA.reset_index(drop=True)

In [17]:
clean_merged_with_mcgill_NA.to_csv("cleaned_race_name.csv")